.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

/* @media screen and (max-width: 986px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}; */

@media screen and (max-width: 767px) {
  .card-list {
    width: 80vw;
    margin: 0 1vw 4vw 1vw;
    padding: 0 4vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
};